[submodule "Assets/Scripts/NKMCore"]
	path = Assets/Scripts/NKMCore
	url = git@github.com:tojatos/NKMCore.git
	branch = rewrite
[submodule "Assets/StreamingAssets/NKMData"]
	path = Assets/StreamingAssets/NKMData
	url = git@github.com:tojatos/NKMData
